<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--evitar ataques de Cross Site Scripting (injeção de dados)-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    
    <title>Relatório de Produtos</title>
    
</head>
<body class="fundo">
    
    <h1 class="text-center text-dark m-3" id="titulo">Relatorio de Produtos</h1>
        <main class="container ">
            <div class="table-responsive mt-4">
            <table class="table table-primary mt-4" id="formCadastros">
        <thead>
            <tr>
                <th>Fornecedor do produto</th>
                <th>Código de barras do produto</th>
                <th>Nome do produtoo</th>
                <th>Quantidade em estoque</th>
                <th>Custo do produto (unid.)</th> 
                <th>Margem de lucro (%)</th> 
                <th>Preço de venda (Unid.)</th>
                <th>Total (Patrimônio)</th>    
            </tr>
        </thead>
        <tbody id="listaCadastros"></tbody>
    </table>
</main>
    <script src="../public/js/janela5Produtos/renderer.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>